body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;

    background-color: #ffffff;  
}

a {
    text-decoration: none;
}

.button {
    font: inherit;
    text-align: middle;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
}

.button-blue {
    background-color:#81b3d2;
}

.button-blue:hover,
.button-blue:focus {
    background-color: #669ec0;
}

.button-blue:active {
    background-color: #5496bd;
}

.button-brown {
    background-color: #766357;
}

.button-brown:hover,
.button-brown:focus {
    background-color: #604e43;
}

.button-brown:active {
    background-color: #503e33;
}

.main-navigation {
    font-weight: bold;
}

.site-navigation,
.features-list,
.sub-features-list,
.social-list {
    list-style: none;
}

.site-navigation a,
.main-footer a {
    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.slogan {
    text-align: center;
}

.slogan b {
    font-size: 21px;
    font-weight: bold;
}

.features-item-white {
    text-align: center;
    background-color: #81b3d2;
    color: #ffffff
}

.features-item-white h3,
.features-item-blue h3 {
    font-size: 21px;
}

.features-item-blue {
    text-align: center;
    background-color: #eeeeee;
}

.sub-features-item {
    text-align: center;
}

.sub-features-item h4 {
    font-size: 21px;
}

.question {
    text-align: center;
}

.question b {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
}

.search-form {
    font-weight: bold;
}

.search-form input {
    font: inherit;
    background-color: #f2f2f2;
    text-transform: uppercase;
}

.search-form input:hover {
    background-color: #ebebeb;
}

.search-form input:focus {
    background-color: #ffffff;
    outline-color: #f2f2f2;
}

.footer-visit {
    font-weight: bold;
}

.filters {
    background-color: #81b3d2;
    color: #ffffff;
    background-image: url("../img/filter.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.filter-button {
    background: transparent;
}

.filters fieldset {
    border: none;
}

.filters legend {
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
}

.filters ul {
    list-style: none;
    line-height: 21px;
}

.filter-price {
    font-size: 16px;
}

.catalog h2 {
    font-size: 21px;
    font-weight: bold;
}

.catalog-item {
    list-style: none;
}

.catalog-item-hotel {
    text-decoration: none;
    color: #000000;
    font-size: 21px;
    line-height: 26px;
}

.catalog-item-hotel:hover,
.catalog-item-hotel:focus {
    color: #81b3d2;
}

.catalog-item-hotel:active {
    opacity: 0.3;
}

.count-hotels {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.sorting {
    font-size:12px;
    line-height: 18px;
}

.sorting-hotel a {
    font-size:12px;
    line-height: 18px;
    color: #000000;
    opacity: 0.3;
    text-decoration: underline;
}

.sorting-hotel a:hover {
    color:#81b3d2;
    opacity: 1;
}
.sorting-hotel a:focus {
    color:#81b3d2;
    opacity: 1;
    text-decoration: none;
}

.sorting-hotel a:active {
    color: #000000;
    opacity: 1;
    text-decoration: none;
}