body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;

    background-color: #ffffff;  
}

a {
    text-decoration: none;
}

.main-navigation {
    font-weight: bold;
}

.site-navigation,
.features-list,
.sub-features-list,
.social-list {
    list-style: none;
}

.site-navigation a,
.main-footer a {
    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}