html {
    background-color: #f2f2f2;
}

body {
    margin: 0 auto;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
    width: 1200px;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);

    background-color: #ffffff;  
}

a {
    text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
    display: inline-block;
    font: inherit;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}

.button-blue {
    background-color:#81b3d2;
}

.button-blue:hover,
.button-blue:focus {
    background-color: #669ec0;
}

.button-blue:active {
    background-color: #5496bd;
}

.button-brown {
    background-color: #766357;
}

.button-brown:hover,
.button-brown:focus {
    background-color: #604e43;
}

.button-brown:active {
    background-color: #503e33;
}

.button-form {
    font-size: 21px;
    line-height: 26px;
}

.main-navigation {
    font-weight: bold;
}

.site-navigation,
.features-list,
.sub-features-list,
.social-list {
    list-style: none;
}

.site-navigation a,
.main-footer a {
    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.slogan {
    text-align: center;
}

.slogan-bold {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    margin-bottom: 30px;
}

.features-item-blue {
    text-align: center;
    background-color: #81b3d2;
    color: #ffffff
}

.features-item-blue h3,
.features-item-white h3 {
    font-size: 21px;
    line-height: 26px;
}

.features-item-white {
    text-align: center;
    background-color: #eeeeee;
}

.sub-features-item {
    text-align: center;
}

.sub-features-item h4 {
    font-size: 21px;
}

.question {
    text-align: center;
}

.question b {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
}

.search-form {
    font-weight: bold;
}

.search-form input {
    font: inherit;
    background-color: #f2f2f2;
    text-transform: uppercase;
}

.search-form input:hover {
    background-color: #ebebeb;
}

.search-form input:focus {
    background-color: #ffffff;
    outline-color: #f2f2f2;
}

.footer-visit {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.filters {
    background-color: #81b3d2;
    color: #ffffff;
    background-image: url("../img/filter.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 30px;
}

.filter-button {
    background: transparent;
}

.filters fieldset {
    border: none;
}

.filters legend {
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
}

.filters ul {
    list-style: none;
    line-height: 21px;
}

.filter-price {
    font-size: 16px;
}

.catalog h2 {
    font-size: 21px;
    font-weight: bold;
}

.catalog-list {
    padding: 0;
}

.catalog-item {
    list-style: none;
}

.catalog-item-hotel {
    text-decoration: none;
    color: #000000;
    font-size: 21px;
    line-height: 26px;
}

.catalog-item-hotel:hover,
.catalog-item-hotel:focus {
    color: #81b3d2;
}

.catalog-item-hotel:active {
    opacity: 0.3;
}

.count-hotels {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.sorting {
    font-size:12px;
}

.sorting-hotel a {
    font-size:12px;
    line-height: 18px;
    color: #000000;
    opacity: 0.3;
    text-decoration: underline;
}

.sorting-hotel a:hover {
    color:#81b3d2;
    opacity: 1;
}
.sorting-hotel a:focus {
    color:#81b3d2;
    opacity: 1;
    text-decoration: none;
}

.sorting-hotel a:active {
    color: #000000;
    opacity: 1;
    text-decoration: none;
}

.raiting {
    color: #666666;
    background-color: #f2f2f2;
}

/* сетка */

.main-header-logo {
    position: relative;
    z-index: 2;
    display: block;
    margin: 0 auto;
    width: 138px;
    margin-bottom: -80px;
}

.site-navigation {
    padding: 0;
    display: flex;
}

.main-navigation {
    padding: 0 6%;
}

.site-navigation li {
    width: 20%;
    padding: 3px 0;
}

.site-navigation li:nth-child(2) {
    margin-left: 28px;
}

.site-navigation li:nth-child(3) {
    margin-left: auto;
    margin-right: 34px;
    text-align: right;
}
.site-navigation li:nth-child(4) {
    text-align: right;
}

.main-picture {
    height: 507px;
    background-image: url(../img/mask.png), url(../img/main-sedona.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: bottom center, 0 -58px;
    margin-bottom: 58px;
}

.main-picture img {
    margin-top: 75px;
    margin-left: 370px;
    margin-right: auto;

}
.features-list {
    display: flex;
    margin: 0;
    padding: 0;
    height: 256px;
}

.features-list p {
    padding-left: 30px;
    padding-right: 30px;
    justify-content: center;        
}

.feature-item {
    width: 400px;
    flex-shrink: 0;
}

.features-item-blue h3 {
    line-height: 21px;
    width: 170px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    margin-bottom: 27px;
}

.sub-features-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    min-height: 330px;
}

.sub-features-item {
    padding-top: 47px;
    padding-left: 55px;
    padding-right: 55px;
    width: 400px;
}

.sub-features-item h4 {
    margin: 0;
    padding: 0;
}


.sub-features-item img {
    height: 76px;
}
.main-footer {
    display: flex;
}

.footer-visit {
    margin: 0;
    width: 400px;
}

.footer-social {
    margin: 0;
    width: 400px;
}

.footer-copyright {
    margin:0;
    width: 400px;
}

.filter {
    display: flex;
    height: 218px;
}

.filter fieldset {
    width: 255px;
    padding: 0;
    margin: 0;
}

.slogan {
    display: block;
    width: 550px;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.slogan:nth-child(2) {
    letter-spacing: 0.1px;
}

.features-item-blue p {
    line-height: 22px;
    padding-right: 50px;
    padding-left: 43px;
}

.features-item-white {
    width: 400px;
    margin: 0;
    padding: 0;
}

.features-item-white h3 {
    line-height: 22px;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 25px;
}

.features-item-white p {
    padding-left: 60px;
    padding-right: 60px;
}
.question {
    padding: 0;
    margin: 0;
    padding-top: 35px;
    margin-bottom: 55px;
}
.question p:nth-child(2) {
    padding-top: 10px;
    line-height: 24px;
}


.filter-range {
    width: 320px;
    margin-top: 25px; 
    margin-bottom: 25px;
    margin-right: 72px;
    margin-left: auto;
  
    color: #ffffff;
    text-transform: uppercase;
  }
  
  .filter-range-title {
    margin-bottom: 9px;
  
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
  }
  
  .price-controls {
    position: relative;
    
    height: 36px;
    margin-bottom: 20px;
  
    font-size: 0;
  
    border: 2px solid #ffffff;
    border-radius: 2px;
  }
  
  .price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
  
    width: 2px;
    height: 22px;
  
    background: #ffffff;
    transform: translate(-50%, -50%);
  }
  
  .price-controls label {
    display: inline-block;
  
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
  
    cursor: pointer;
  }
  
  .price-controls .min-price,
  .price-controls .max-price {
    width: 90px;
    padding-left: 65px;
  }
  
  .price-controls input {
    width: 50px;
    margin: 0;
  
    color: inherit;
    font: inherit;
  
    background: none;
    border: none;
  }
  
  .range-controls {
    position: relative;
  
    margin-bottom: 32px;
  }
  
  .range-controls .scale {
    height: 2px;
  
    background: rgba(255, 255, 255, 0.3);
  }
  
  .range-controls .bar {
    width: 80%;
    height: 2px;
  
    background: #ffffff;
  }
  
  .range-toggle {
    position: absolute;
    top: -9px;
  
    width: 4px;
    height: 4px;
  
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
  }
  
  .range-toggle:hover {
    background: #1c4f80;
  }
  
  .range-toggle-min {
    left: 0;
  }
  
  .range-toggle-max {
    left: 80%;
  }
  
  .btn-transparent {
    display: block;
    margin: 0 auto;
    padding: 6px 35px;
  
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
  
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
  }
  
  .btn-transparent:hover {
    color: #000000;
  
    background: #ffffff;
  }

  .filter legend {
      padding-top: 25px;
      padding-left: 70px;
  }
  .catalog {
      padding: 0;
      margin: 0;
}

  .catalog-wrapper {
      display: flex;
      margin-bottom: 28px;
  }

  .catalog-wrapper h2 {
      margin: 0;
      padding: 0;
      padding-left: 72px;
  }

  .sorting {
      margin: 0;
      padding: 0;
      padding-left: 52px;
      padding-right: 30px;
  }
  .sorting-hotel a {
      margin: 0;
      padding: 0;
      padding-left: 10px;
      padding-right: 20px;
  }

  .catalog-item {
    padding: 0;
    margin: 0;
    display: flex;
    border-bottom: 1px solid #e5e5e5;
}

.catalog-item:first-child {
    border-top: 1px solid #e5e5e5;
}

.catalog-item-photo {
    margin-right: 30px;
    margin-bottom: 22px;
    margin-top: 30px;
    margin-left: 73px;
}

.catalog-item-info h3 {
    padding: 0;
    margin: 0;
    padding-top: 25px;
}

.catalog-button-wrapper {
    padding: 0;
    margin: 0;
    margin-top: 15px;
}

.star-raiting {
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: 40px;
}

.filter-option {
    margin: 0;
    padding: 0;
}

.filter-option label {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    margin-left: 70px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.filter-input + label::before {
    content:"";
    position: absolute;
    left: -35px;
    top: 0;

    width: 23px;
    height: 23px;
    background-image: url(../img/checkbox-off.svg);
}

.filter-input:checked + label::after {
    content: "";

    position: absolute;
    top: 0px;
    left: -35px;
    width: 26px;
    height: 23px;

    background-image: url(../img/checkbox-on.svg);
}

.arrows-wrapper {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: 40px;
}

.arrows-wrapper .ask {
    position: absolute;
    top: 0;
    left: -65px;
    width: 11px;
    height: 10px;

    opacity: 0.3;
}

.arrows-wrapper .desc {
    position: absolute;
    top: 0;
    left: -45px;
    width: 11px;
    height: 10px;
    fill: #000000;
    opacity: 0.3;
}

.arrows-wrapper a:hover,
.arrows-wrapper a:focus {
    opacity: 1;

}

.arrows-wrapper a:active path {
    opacity: 1;
    fill: #81b3d2;
}